@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://assets.css-tricks.ir/font/font.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&amp;display=swapps://github.com/produle/MockFlowFont/blob/master/MockFlowFont1/dist/MockFlowFont1.woff');

/* other css file imports */
@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/about.css");
@import url("sections/blog.css");
@import url("sections/contact.css");
/* @import url("sections/footer.css"); */
@import url("sections/tools.css");
@import url("sections/projects.css");

/* CSS variables for reusablity across all files (including above imported) */
:root {
  --roboto: "Roboto", sans-serif;
  --plus-lato: "Lato", sans-serif;
  --plus-rubik: "Rubik", sans-serif;
  --alex-brush: 'Alex Brush', cursive;

  --primary-color: #00A3FF;
  --secondary-color: #fff;

  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --color-white: #fff;
  --color-creamson: #fff0de;

  --curve: 40;

  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1080px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #1C1E1E;
  font-family: var(--roboto);
    /* background-color: #fef8f8; */
}

.header__logo {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
a {
  text-decoration: none;
  color: inherit;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.neumorphic-container {
  width: 1150px; /* Slightly larger than the iframe to show the neumorphic effect */
  height: 800px; /* Slightly larger than the iframe to show the neumorphic effect */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292828;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #020202, -20px -20px 60px #020202;
  padding: 10px;
}

#tableauViz {
  width: 1080px;
  height: 720px;
  border-radius: 50px;
}

.ui-neumorphic-container {
  width: 680px; /* Slightly larger than the iframe to show the neumorphic effect */
  height: 360px; /* Slightly larger than the iframe to show the neumorphic effect */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292828;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #020202, -20px -20px 60px #020202;
  padding: 10px;
}

.gd-neumorphic-container {
  width: 1080px; /* Slightly larger than the iframe to show the neumorphic effect */
  height: 630px; /* Slightly larger than the iframe to show the neumorphic effect */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292828;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #020202, -20px -20px 60px #020202;
  padding: 10px;
}

#uiNeu {
  width: 640px;
  height: 320px;
  border-radius: 20px;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 columns of equal width */
  grid-gap: 10px; /* Spacing between images */
  margin-top: 5px;
}

.image-container img {
  width: 100%; /* Images fill the width of their container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 7px;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle{
    position: absolute;
    background: linear-gradient(92deg, #00a3ff 22.4%, #00fff0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5em;
    font-weight: bold;
    font-family: var(--plus-rubik);
    padding: 64px;
    letter-spacing: -0.01em;
  }


  
/* Hide scrollbar for Chrome, Safari and Opera */
.sushi__hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sushi__hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* START: about us media queries */
@media screen and (max-width: 1024px) {
  .about-me {
    flex-direction: column-reverse;
    margin: 0px;
  }

  .about-me__image-aboutImg {
    width: 100%;
    float: center;
    z-index:-1;
    object-fit: contain;
  }

  .about-me__content {
    padding: 0px 64px 0px 64px;
    text-align: justify;
    font-size: 1em;
  }
}

@media screen and (max-width: 750px) {
  .about-me__image-aboutImg {
    border-right: none;
    width: 100%;
    float: right;
    overflow: clip;
    object-fit: contain;
  }
  .about-me__content {
    padding: 0px 128px 0px 64px;
    text-align: justify;
  }
}

@media screen and (max-width: 550px) {
  .about-me__image-aboutImg img {
    width: 100%;
    float: right;
    overflow: clip;
    object-fit: contain;
  }

  .about-me__image-aboutImg div {
    padding: 1rem;
  }


  .about-me__content {
    padding: 0px 0px 0px 64px;
    text-align: justify;
  }
}
/* END: about us media queries */


/* START: header media querie */
@media screen and (max-width: 900px) {
  /* .header__nav {
    background: var(--primary-color);
  }*/

  .header__menu {
    display: none;
  }

  .header__menu-mobile {
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  .header__logo {
    padding-left: 0;
  }
}
/* END: header media queries */

/* START: hero media queries */
@media screen and (max-width: 1060px) {
  .hero {
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .hero-image img {
    width: 100%;
  }
}

/* END: hero media queries */

/* START: popular media queries */
@media screen and (max-width: 550px) {
  .tools-trade {
    padding: 64px 32px;
  }

  .tools-trade__card,
  .tools-trade__card.active-card {
    min-width: 100%;
  }
}
/* END: popular media queries */

/* START: subscribe media queries */
@media screen and (max-width: 550px) {
  .subscription {
    padding: 64px 32px;
  }

  .subscription h2 {
    font-size: 68px;
    line-height: 100px;
  }

  .subscription__form {
    flex-direction: column;
    gap: 20px;

    min-width: 100%;
    border-radius: 20px;
    padding: 0;

    border: none;
  }

  .subscription__form input {
    min-height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    border-radius: 30px;
  }

  .subscription__form button {
    min-width: 100%;
  }
}
/* END: subscribe media queries */

/* START: trending media queries */
@media screen and (max-width: 1024px) {
  .trending-sushi {
    flex-direction: column;
  }

  .trending-drink {
    flex-direction: column-reverse;
  }

  .trending__image {
    width: 100%;
    background-size: cover;
  }

  .trending__discover {
    display: none;
  }

  .trending__arrow {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .trending__image img {
    width: 70%;
    height: 70%;
  }

  .trending__content {
    padding: 32px;
  }
}
/* END: trending media queries */

