.about-me {
    display: flex;
    min-height: 640px;
    overflow: hidden;
    flex-direction: row;
  }
  
  .about-me__image {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: left;  
    position: relative;
  }
  
  .about-me__image div {
    padding: 32px 64px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .about-me__image-aboutImg {  
    background-image: url("assets\aboutimg.png")
  }
  
  .about-me__image-aboutImg img {
    width:646px;
    height: 564px;
  }

  .subtitle{
    position: relative;
    background: linear-gradient(92deg, #00a3ff 22.4%, #00fff0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
    font-weight: bold;
    font-family: var(--plus-rubik);
    padding-left: 64px;
  }

  .about-me__content {
    padding-top: 200px;
    padding-left: 64px;
    color: #fff;
    flex: 1;
    display: flex;
    justify-content: left;
    text-align: justify;
    flex-direction: column;
    font-family: var(--roboto);
  }

  .signature{
    font-size: 32px;
    font-family: var(--alex-brush);
    padding-top: 32px;
  }