.project__title{
    position: absolute;
    background: linear-gradient(92deg, #00a3ff 22.4%, #00fff0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5em;
    font-weight: bold;
    font-family: var(--plus-rubik);
    padding-left: 64px;
    letter-spacing: -0.01em;
  }
  

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 64px;
    margin-top: 0px;
    list-style-type: none;
  }
  .cardsList{
    margin-top: -16px;
  }

  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: #002030;
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color:  #002030;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill:  #002030;
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;
    border-color: var(--black-300); 
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    background: linear-gradient(92deg, #00a3ff 22.4%, #00fff0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #00a3ff;  
  }
  
  .card__status {
    font-size: .8em;
    color: #00fff0;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #fff;
    font-size: .7em;
    /* font-family: "MockFlowFont";    */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    