.tools-trade__title{
  position: absolute;
  background: linear-gradient(92deg, #00a3ff 22.4%, #00fff0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.5em;
  font-weight: bold;
  font-family: var(--plus-rubik);
  padding-left: 64px;
  letter-spacing: -0.01em;
}
.tools-trade{
  margin-top: 48px;
}
.ag-format-container {
  width: 1142px;
  margin: auto auto;
  padding-top: 72px;
}


.ag-services_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-services_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-services-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-services-item_link:hover,
.ag-services-item_link:hover .ag-services-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-services-item_link:hover .ag-services-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-services-item_title {
  min-height: 78px;
  margin: 0 0 20px;

  overflow: hidden;

  font-weight: bold;
  font-size: 26px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.project1-item_title {
  min-height: 48px;
  overflow: hidden;
  font-weight: bold;
  font-size: 26px;
  color: #FFF;
  z-index: 2;
  position: relative;
}
.project1-desc-box {
  font-size: 18px;
  color: #FFF;
  margin-right: 64px;
  z-index: 2;
  position: relative;
}

.ag-services-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-services-item_date {
  font-weight: bold;
  color: #a3d3ee;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-services-item_bg {
  height: 128px;
  width: 128px;
  background-color: #e6af50;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-services_item:nth-child(2n) .ag-services-item_bg {
  background-color: #5eba72;
}
.ag-services_item:nth-child(3n) .ag-services-item_bg {
  background-color: #EA5455;
}
.ag-services_item:nth-child(4n) .ag-services-item_bg {
  background-color: #834db9;
}
.ag-services_item:nth-child(5n) .ag-services-item_bg {
  background-color: #cd3e94;
}
.ag-services_item:nth-child(6n) .ag-services-item_bg {
  background-color: #00B4D8;
}



@media only screen and (max-width: 979px) {
  .ag-services_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-services-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-services_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-services-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-services-item_link {
    padding: 22px 40px;
  }
  .ag-services-item_date-box {
    font-size: 16px;
  }
}